:root {
  --bg: #000000;
}

/* fonts */

.ibm-plex-mono-thin {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.ibm-plex-mono-thin-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: italic;
}

.ibm-plex-mono-extralight-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: italic;
}

.ibm-plex-mono-light-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.ibm-plex-mono-regular-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.ibm-plex-mono-medium-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: italic;
}

.ibm-plex-mono-semibold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: italic;
}

.ibm-plex-mono-bold-italic {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

/*  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
}

.App {
  background-color: black;
  width: 100%;
  /* min-height: 7000px; */
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;
  scroll-behavior: smooth;
}

.heroShaodw {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.055);
  filter: blur(100px);
  position: absolute;
  top: 300px;
}

.leftLight {
  filter: blur(400px);
  position: absolute;
  left: -140px;
  top: -140px;
}

.rightLight {
  filter: blur(400px);
  position: absolute;
  right: -140px;
  top: -140px;
}

::-webkit-scrollbar-track {
  background-color: #181818;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #592a96d0;
  border-radius: 100px;
}

/* ----------------- enterprise light----------------- */
.enterpriseLight {
  filter: blur(100px);
  position: absolute;
  left: -200px;
  top: 210vh;
}

.customerLight {
  filter: blur(100px);
  position: absolute;
  right: -270px;
  top: 350vh;
}
